 -----
 About
 -----
 Heinrich Schuchardt
 <xypron.glpk@gmx.de>
 -----
 October 2013
 -----

About

 COBYLA2 is an implementation of Powell’s nonlinear derivative–free
 constrained optimization that uses a linear approximation approach. The
 algorithm is a sequential trust–region algorithm that employs linear
 approximations to the objective and constraint functions, where the
 approximations are formed by linear interpolation at n + 1 points in the space
 of the variables and tries to maintain a regular–shaped simplex over
 iterations.

 It solves nonsmooth NLP with a moderate number of variables (about 100).
 Inequality constraints only.

 The initial point X is taken as one vertex of the initial simplex with zero
 being another, so, X should not be entered as the zero vector.

* Maven

 For using this library in your Maven project enter the following dependency in
 your pom.xml:

---
    <dependencies>
        <dependency>
            <groupId>${project.groupId}</groupId>
            <artifactId>${project.artifactId}</artifactId>
            <version>${project.version}</version>
        </dependency>
    </dependencies>
---

